@import url("./base.css");

/* 강의용 */
.reveal { font-size: 36px; }
.reveal p, .reveal li { margin: 0.4em 0; }

.reveal h1 { font-size: 2.5em; }
.reveal h2 { font-size: 2.0em; }
.reveal h3 { font-size: 1.7em; }

/* 코드 */
.reveal pre code { font-size: 0.90em; }

/* 이미지 */
.reveal img { max-width: 75%; }

/* 번호 */
.reveal .slide-number {
  font-size: 16px;
  opacity: 0.75;
}


/*  ===== Global Header ===== */
.reveal::before {
  content: "Data, Analysis, and Models";
  position: fixed;
  top: 12px;
  left: 40px;
  font-size: 14px;
  font-weight: 600;
  color: darkgrey;
  z-index: 1000;
}

/* ===== Global Footer ===== */
.reveal::after {
  content: "Young Joon Oh · Political Behavior & Methods";
  position: fixed;
  bottom: 14px;
  left: 40px;
  font-size: 12px;
  color: darkgrey;
  opacity: 0.9;
  z-index: 1000;
}

