@import url("./base.css");

/* 강의용 */
.reveal { font-size: 36px; }
.reveal p, .reveal li { margin: 0.4em 0; }

.reveal h1 { font-size: 2.5em; }
.reveal h2 { font-size: 2.0em; }
.reveal h3 { font-size: 1.7em; }

/* 코드 */
.reveal pre code { font-size: 0.90em; }

/* 이미지 */
.reveal img { max-width: 75%; }

/* 번호 */
.reveal .slide-number {
  font-size: 16px;
  opacity: 0.75;
}
